In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import joblib
import time
from sklearn.metrics import max_error,r2_score,mean_squared_error,mean_absolute_error,mean_absolute_percentage_error
from utilsFeatureSelection import filterPriceData

In [2]:
# Import test data
df_test = pd.read_csv('../../data/test-data/price-example.csv', sep=';')
df_test = filterPriceData(df_test, 3)
df_test

1 - Info True Across Multiple Platforms

,price_amount,vintage_year,wine_region_country_code,wine_region_seo_name,wine_winery_seo_name,wine_seo_name,wine_type_id,wine_is_natural,price_bottle_type_volume_ml,price_bottle_quantity
0,165.50,2011.0,32,810,2397,7854,1.0,0.0,750.0,750.0
1,165.50,2011.0,32,810,2397,7854,1.0,0.0,750.0,750.0
2,171.94,2016.0,32,810,2397,7854,1.0,0.0,750.0,750.0
3,171.94,2016.0,32,810,2397,7854,1.0,0.0,750.0,750.0
4,5.21,2020.0,27,17,4272,2161,1.0,0.0,750.0,750.0
...,...,...,...,...,...,...,...,...,...,...
176,275.00,2019.0,12,1018,191,9938,1.0,0.0,750.0,750.0
177,31.90,2018.0,34,1062,1893,5561,1.0,0.0,750.0,750.0
178,11.95,2021.0,34,1062,1809,3816,1.0,0.0,750.0,750.0
179,14.70,2020.0,34,1062,3442,1712,2.0,0.0,750.0,750.0
180,108.00,2017.0,34,1062,3170,5068,1.0,0.0,750.0,750.0

In [3]:
# For all test data make predictions with corresponding best regressor model 
model = joblib.load(f'../../data/models/price/FS3/GradientBoostingRegressor.priceFS3.joblib')
y_true = np.log(df_test['price_amount'])
df_test.drop(['price_amount'], axis=1, inplace=True)
start_time = time.time()
y_pred = model.predict(df_test)
end_time = time.time()
time_taken_ms = (end_time - start_time) * 1000  # Convert to milliseconds
print(f'Time taken for train: {time_taken_ms:.2f} ms')
y_true = np.exp(y_true)
y_pred = np.exp(y_pred)
df_test['y_true'] = y_true
df_test['y_pred'] = y_pred
display(df_test[['y_true', 'y_pred']])
print(f"MSE: {round(mean_squared_error(y_true, y_pred),2)}")
print(f"RMSE: {round(np.sqrt(mean_squared_error(y_true, y_pred)),2)}")
print(f"MAE: {round(mean_absolute_error(y_true, y_pred),2)}")
print(f"MAPE: {round(mean_absolute_percentage_error(y_true, y_pred),2)}")
print(f"R2: {round(r2_score(y_true, y_pred),2)}")
print(f"ME: {round(max_error(y_true, y_pred),2)}")
print(f'######################################################')

Time taken for train: 0.96 ms

     y_true     y_pred
0    165.50  48.816330
1    165.50  48.816330
2    171.94  53.129815
3    171.94  53.129815
4      5.21  12.809928
..      ...        ...
176  275.00  20.364159
177   31.90  21.827208
178   11.95  12.707160
179   14.70  16.404511
180  108.00  26.718368

[181 rows x 2 columns]

MSE: 35497.44
RMSE: 188.41
MAE: 115.39
MAPE: 0.6
R2: -0.41
ME: 478.24
######################################################